<component name="ArtifactManager">
  <artifact type="exploded-war" name="MyBatis:war exploded">
    <output-path>$PROJECT_DIR$/MyBatis/target/MyBatis</output-path>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="MyBatis" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="Maven: org.mybatis:mybatis-spring:1.2.4" />
          <element id="library" level="project" name="Maven: mysql:mysql-connector-java:5.1.38" />
          <element id="library" level="project" name="Maven: commons-dbcp:commons-dbcp:1.4" />
          <element id="library" level="project" name="Maven: commons-pool:commons-pool:1.5.4" />
          <element id="library" level="project" name="Maven: log4j:log4j:1.2.17" />
          <element id="library" level="project" name="Maven: org.slf4j:slf4j-api:1.7.18" />
        </element>
      </element>
      <element id="directory" name="META-INF">
        <element id="file-copy" path="$PROJECT_DIR$/MyBatis/target/MyBatis/META-INF/MANIFEST.MF" />
      </element>
      <element id="javaee-facet-resources" facet="MyBatis/web/Web" />
    </root>
  </artifact>
</component>