<component name="ArtifactManager">
  <artifact type="war" name="springmvc-mybatis-start:war">
    <output-path>$PROJECT_DIR$/springmvc-mybatis-start/target</output-path>
    <root id="archive" name="springmvc-mybatis-start-1.0-SNAPSHOT.war">
      <element id="artifact" artifact-name="springmvc-mybatis-start:war exploded" />
    </root>
  </artifact>
</component>